<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="phone">
	
	<insert id="insert" parameterType="phone">
		INSERT INTO phone(num, model, price, vcode) VALUES(#{num}, #{model}, #{price}, #{vcode});
	</insert>
	
	<!-- Dynamic Query : selectAll + selectOne (num) -->
	<select id="select" paramterType="Sting">
		SELECT * FROM PHONE
		WHERE
		
	</select>
	
	<delete id="delete" parameterType="String">
		DELETE FROM PHONE WHERE num=#{num}
	</delete>
	
	<update id="update" parameterType="phone">
		UPDATE PHONE SET 
	</update>
	
	<!-- Dynamic Query : id와 pw 둘다 입력했을 때랑 id만 입력했을 때-->
	<select id="selectUser"></select>
</mapper>